/*fonts***********
font-family: 'Bree Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
*****************/

/*color palette*************
pale green: #BFD891;
light green: #AEDD64;
green:#92C638;
dark green: #56791A;
brown: #7F5539;
cream: #FFEDD8;
****************/

*{
    margin: 0;
}

/*header************************/
.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo{
    width: 200px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.nav{
    display: flex;
    margin-right: 70px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-item{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    list-style: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
/***********************/
.navbar-item-text-home{
    text-decoration: none;
    color: #92C638;
}

.navbar-item-text-about{
    text-decoration: none;
    color: #92C638;
}

.navbar-item-text-tea{
    text-decoration: none;
    color: #92C638;
}

.navbar-item-text-contact{
    text-decoration: none;
    color: #92C638;
}

.navbar-item-text-home:hover{
    color: #AEDD64;
}

.navbar-item-text-about:hover{
    color: #AEDD64;
}

.navbar-item-text-tea:hover{
    color: #AEDD64;
}

.navbar-item-text-contact:hover{
    color: #AEDD64;
}

/*banner***********************************/
.spread-image{
    background-image: url("images/tea 101.jpg");
    width:100%;
    background-size:cover;
    position: static;
}

.banner-text{
    position: absolute;
    text-align: center;
    left: 20%;
    right: 20%;
    top: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.title{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    padding-bottom: 20px;
}

.title-content{
    text-align: center;
    color: white;

    margin-left: 122px;
    margin-right: 122px;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    letter-spacing: 1px;
}

/*tea-history************************/
.tea-history{
    display: flex;
    flex-direction: column;

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

/*origins*********************************/
.origins{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.origins-title{
    font-family: 'Bree Serif', serif;
    color: #7F5539;
    font-weight: 400;
    font-size: 50px;

    margin-top: 40px;
    margin-bottom: 40px;
}

.origins-content{
    display: flex;
    justify-content: space-between;

    width: 900px;
}

.origins1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #AEDD64;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.origins-icon{
    width:85px;
    padding-bottom: 30px;
}

.origins-text{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

.origins2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #AEDD64;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.origins-icon2{
    width:85px;
    padding-bottom: 30px;
}

.origins-text2{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

/*discovery*********************************/
.discovery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discovery-title{
    font-family: 'Bree Serif', serif;
    color: #7F5539;
    font-weight: 400;
    font-size: 50px;

    margin-top: 40px;
    margin-bottom: 40px;
}

.discovery-content{
    display: flex;
    justify-content: space-between;

    width: 900px;
}

.discovery1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #BFD891;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.discovery-icon{
    width:85px;
    padding-bottom: 30px;
}

.discovery-text{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

.discovery2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #BFD891;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.discovery-icon2{
    width:85px;
    padding-bottom: 30px;
}

.discovery-text2{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

/*introduction*********************************/
.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-title{
    font-family: 'Bree Serif', serif;
    color: #7F5539;
    font-weight: 400;
    font-size: 50px;

    margin-top: 40px;
    margin-bottom: 40px;
}

.introduction-content{
    display: flex;
    justify-content: space-between;

    width: 900px;
}

.introduction1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #AEDD64;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.introduction-icon{
    width:85px;
    padding-bottom: 30px;
}

.introduction-text{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

.introduction2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #AEDD64;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.introduction-icon2{
    width:85px;
    padding-bottom: 30px;
}

.introduction-text2{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

/*expansion*********************************/
.expansion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expansion-title{
    font-family: 'Bree Serif', serif;
    color: #7F5539;
    font-weight: 400;
    font-size: 50px;

    margin-top: 40px;
    margin-bottom: 40px;
}

.expansion-content{
    display: flex;
    justify-content: space-between;

    width: 900px;
}

.expansion1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #BFD891;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.expansion-icon{
    width:85px;
    padding-bottom: 30px;
}

.expansion-text{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

.expansion2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #BFD891;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.expansion-icon2{
    width:85px;
    padding-bottom: 30px;
}

.expansion-text2{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

/*modern*********************************/
.modern{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modern-title{
    font-family: 'Bree Serif', serif;
    color: #7F5539;
    font-weight: 400;
    font-size: 50px;

    margin-top: 40px;
    margin-bottom: 40px;
}

.modern-content{
    display: flex;
    justify-content: space-between;

    width: 900px;
}

.modern1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #AEDD64;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.modern-icon{
    width:85px;
    padding-bottom: 30px;
}

.modern-text{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

.modern2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 420px;
    background-color: #AEDD64;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.modern-icon2{
    width:85px;
    padding-bottom: 30px;
}

.modern-text2{
    padding-left: 45px;
    padding-right: 45px;

    font-family: 'Quicksand', sans-serif;
    color: #7F5539;
    font-weight: 600;
    text-align: justify;
}

/*footer***********************/
.footer{
    background-color: #7F5539;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
}

.logo2{
    width:230px;
    padding-bottom: 30px;
}

.footer-navbar1{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.navbar1{
    display: flex;
    justify-content: space-between;

    list-style: none;
    padding: 0;
}

.navbar1-item{
    font-size: 18px;
}
/********************************/

.navbar1-item a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navbar1-item-home{
    color: #FFEDD8;
}

.navbar1-item-about{
    color: #FFEDD8;
}

.navbar1-item-tea{
    color:#FFEDD8;
}

.navbar1-item-contact{
    color: #FFEDD8;
}

.navbar1-item-home:hover{
    color: #FFFF;
}

.navbar1-item-about:hover{
    color: #FFFF;
}

.navbar1-item-tea:hover{
    color: #FFFF;
}

.navbar1-item-contact:hover{
    color: #FFFF;
}

/********************************/
.footer-navbar2{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.navbar2{
    display: flex;
    justify-content: space-between;

    list-style: none;
    padding: 0;
}

.navbar2-item{
    padding-top: 12px;
    padding-bottom: 12px;
}

/********************************/
.navbar2-item a{
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
}
/********************************/

.navbar2-item:not(:last-child){
    border-right: 2px solid #FFFF;
}

/********************************/
.navbar2-item-text-history{
    color: #92C638;
}

.navbar2-item-text-categories{
    color: #FFEDD8;
}

.navbar2-item-text-uses{
    color: #FFEDD8;
}

.navbar2-item-text-reco{
    color: #FFEDD8;
}

.navbar2-item-text-history:hover{
    color: #BFD891;
}

.navbar2-item-text-categories:hover{
    color: #FFFF;
}

.navbar2-item-text-uses:hover{
    color: #FFFF;
}

.navbar2-item-text-reco:hover{
    color: #FFFF;
}
/********************************/

.hr{
    width:90%;
    text-align:center;
    background-color:white;
    height: 1.7px;
    border-radius: 5px;
}

.subfooter{
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #FFEDD8;
    font-weight: 600;
}

/*media-queries 360px****************/
@media only screen and (max-width:360px){

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .header-logo{
        margin: 0;
        width: 150px;
        padding-bottom: 17px;
    }

    .nav{
        margin: 0;
        padding-bottom: 12px;
    }

    .navbar{
        padding: 0;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

    .navbar-item{
        padding: 0;
        font-size: 15px;
    }

    /*banner********************************/
    .spread-image{
        height:220px;
        position: absolute;
    }

    .banner-text{
        left: 0;
        right: 0;
        padding-top: 70px;
        top:5%;
        left: 50%;
        transform: translate(-50%,-5%);
        position: relative;
    }

    .title{
        font-size: 30px;
        padding:0;
    }

    .title-content{
        font-size: 10px;
        margin: 0;
        margin-right: 70px;
        margin-left: 70px;
        padding:0;
        padding-top: 10px;
        padding-bottom: 25px;
        letter-spacing: 0;
    }

    /*tea-history*************************/
    .tea-history{
        max-width: 300px;
        margin-bottom: 40px;
    }

    /*origins********************/
    .origins{
        margin-top: 30px;
    }

    .origins-title{
        font-size: 22px;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    .origins-content{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .origins1{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 20px;
    }

    .origins-icon{
        width: 60px;
    }

    .origins-text{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .origins2{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .origins-icon2{
        width: 60px;
    }

    .origins-text2{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /*discovery********************/
    .discovery-title{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .discovery-content{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .discovery1{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 20px;
    }

    .discovery-icon{
        width: 60px;
    }

    .discovery-text{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .discovery2{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .discovery-icon2{
        width: 60px;
    }

    .discovery-text2{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /*introduction********************/
    .introduction-title{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .introduction-content{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introduction1{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 20px;
    }

    .introduction-icon{
        width: 60px;
    }

    .introduction-text{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .introduction2{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .introduction-icon2{
        width: 60px;
    }

    .introduction-text2{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /*expansion********************/
    .expansion-title{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .expansion-content{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .expansion1{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 20px;
    }

    .expansion-icon{
        width: 60px;
    }

    .expansion-text{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .expansion2{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .expansion-icon2{
        width: 60px;
    }

    .expansion-text2{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /*modern********************/
    .modern-title{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .modern-content{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modern1{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
        margin-bottom: 20px;
    }

    .modern-icon{
        width: 60px;
    }

    .modern-text{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .modern2{
        width: 300px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .modern-icon2{
        width: 60px;
    }

    .modern-text2{
        font-size: 11.5px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /*footer****************************/
    .logo2{
        width: 180px;
    }

    .footer-navbar1{
        width: 280px;
    }

    .navbar1-item{
        font-size: 15px;
    }

    .footer-navbar2{
        margin: 0;
        width: 310px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        padding-bottom: 15px;
    }

    .navbar2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /********************************/
    .navbar2-item{
        padding:0;
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        padding-left: 13px;
        padding-right: 15px;
    }

    .navbar2-item a{
        font-size: 12px;
        padding: 0;
        padding-bottom: 10px;
    }
    /********************************/

    .navbar2-item:nth-last-child(2) {
        border-right: none;
    }

    .navbar2-item:last-child{
        border-left: 2px solid #FFFF;
    }

    .hr{
        width: 80%;
        height: 1px;
    }

    .subfooter{
        padding: 0;
        font-size: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}