/*fonts***********
font-family: 'Bree Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
*****************/

/*color palette*************
pale green: #BFD891;
light green: #AEDD64;
green:#92C638;
dark green: #56791A;
brown: #7F5539;
cream: #FFEDD8;
****************/

*{
    margin: 0;
}

/*header************************/
.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo{
    width: 200px;
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.nav{
    display: flex;
    margin-right: 70px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-item{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    list-style: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.navbar-item-text-home{
    text-decoration: none;
    color: #92C638;
}

.navbar-item-text-about{
    text-decoration: none;
    color: #92C638;
}

.navbar-item-text-tea{
    text-decoration: none;
    color: #92C638;
}

.navbar-item-text-contact{
    text-decoration: none;
    color: #56791A;
}

.navbar-item-text-home:hover{
    color: #AEDD64;
}

.navbar-item-text-about:hover{
    color: #AEDD64;
}

.navbar-item-text-tea:hover{
    color: #AEDD64;
}

.navbar-item-text-contact:hover{
    color: #BFD891;
}

/*banner***********************************/
.spread-image{
    background-image: url("images/tea 101.jpg");
    width:100%;
    background-size:cover;
    position: static;
}

.banner-text{
    position: absolute;
    text-align: center;
    left: 20%;
    right: 20%;
    top: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.title{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    padding-bottom: 20px;
}

.title-content{
    text-align: center;
    color: white;

    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    letter-spacing: 1px;
}

/*page-title****************************/
.page-title{
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    color:#7F5539;
    font-weight: 400;

    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 45px;
}

/*socmed*************************************/
.socmed{
    display: flex;
    justify-content: space-between;

    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

/*facebook***************************/
.facebook{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.fb{
    width: 60px;
}

.facebook a:visited{
    padding:35px;
    border-radius: 30px;
    background-color: #92C638;
}

.facebook a{
    padding:35px;
    border-radius: 30px;
    background-color: #AEDD64;
}

.facebook a:hover{
    padding:35px;
    border-radius: 30px;
    background-color: #FFEDD8;
}

/*instagram***************************/
.instagram{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.ig{
    width: 60px;
}

.instagram a:visited{
    padding:35px;
    border-radius: 30px;
    background-color: #92C638;
}

.instagram a{
    padding:35px;
    border-radius: 30px;
    background-color: #BFD891;
}

.instagram a:hover{
    padding:35px;
    border-radius: 30px;
    background-color: #FFEDD8;
}

/*email***************************/
.email{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.gmail{
    width: 60px;
}

.email a:visited{
    padding:35px;
    border-radius: 30px;
    background-color: #92C638;
}

.email a{
    padding:35px;
    border-radius: 30px;
    background-color: #AEDD64;
}

.email a:hover{
    padding:35px;
    border-radius: 30px;
    background-color: #FFEDD8;
}

/*form*******************************/
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.form-text{
    padding-bottom: 50px;
}

.form-text-title{
    font-family: 'Bree Serif', serif;
    font-size: 38px;
    font-weight: 400;
    color: #7F5539;
    padding-bottom: 20px;
}

.form-text-content{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    font-weight: 400;
    color: #7F5539;
}

input[type=text] {
    padding: 20px;
    margin-right: 25px;
    margin-bottom: 20px;
    border: 1px solid #56791A;
    border-radius: 10px;
    
    font-family: 'Quicksand', sans-serif;
    width: 230px;
}

input[type=email] {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #56791A;
    border-radius: 10px;
    
    font-family: 'Quicksand', sans-serif;
    width: 230px;
}

textarea{
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #56791A;
    border-radius: 10px;
    
    font-family: 'Quicksand', sans-serif;
    width: 530px;
    resize: vertical;
    height: 150px;
}

input[type=submit] {
    padding: 15px;
    border: 1px #56791A;
    border-radius: 10px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #56791A;
    width: 570px;
    background-color: #AEDD64;
}

input[type=submit]:hover{
    padding: 15px;
    border: 1px #56791A;
    border-radius: 10px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #FFFF;
    width: 570px;
    background-color: #56791A;
    cursor: pointer;
}

/*footer***********************/
.footer{
    background-color: #7F5539;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
}

.logo2{
    width:230px;
    padding-bottom: 30px;
}

.footer-navbar1{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.navbar1{
    display: flex;
    justify-content: space-between;

    list-style: none;
    padding: 0;
}

.navbar1-item{
    font-size: 18px;
}

.navbar1-item a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navbar1-item-home{
    color:#FFEDD8;
}

.navbar1-item-about{
    color: #FFEDD8;
}

.navbar1-item-tea{
    color:#FFEDD8;
}

.navbar1-item-contact{
    color: #92C638;
}

.navbar1-item-home:hover{
    color: #FFFF;
}

.navbar1-item-about:hover{
    color: #FFFF;
}

.navbar1-item-tea:hover{
    color: #FFFF;
}

.navbar1-item-contact:hover{
    color: #AEDD64;
}

.footer-navbar2{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.navbar2{
    display: flex;
    justify-content: space-between;

    list-style: none;
    padding: 0;
}

.navbar2-item{
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar2-item a{
    font-family: 'Bree Serif', serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar2-item:not(:last-child){
    border-right: 2px solid #FFFF;
}

.navbar2-item-text-history{
    color: #FFEDD8;
}

.navbar2-item-text-categories{
    color: #FFEDD8;
}

.navbar2-item-text-uses{
    color: #FFEDD8;
}

.navbar2-item-text-reco{
    color: #FFEDD8;
}

.navbar2-item-text-history:hover{
    color: #FFFF;
}

.navbar2-item-text-categories:hover{
    color: #FFFF;
}

.navbar2-item-text-uses:hover{
    color: #FFFF;
}

.navbar2-item-text-reco:hover{
    color: #FFFF;
}

.hr{
    width:90%;
    text-align:center;
    background-color:white;
    height: 1.7px;
    border-radius: 5px;
}

.subfooter{
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #FFEDD8;
    font-weight: 600;
}

/*media-queries 360px****************/
@media only screen and (max-width:360px){

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .header-logo{
        margin: 0;
        width: 150px;
        padding-bottom: 17px;
    }

    .nav{
        margin: 0;
        padding-bottom: 12px;
    }

    .navbar{
        padding: 0;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

    .navbar-item{
        padding: 0;
        font-size: 15px;
    }

    /*banner********************************/
    .spread-image{
        height:220px;
        position: absolute;
    }

    .banner-text{
        left: 0;
        right: 0;
        padding-top: 70px;
        top:5%;
        left: 50%;
        transform: translate(-50%,-5%);
        position: relative;
    }

    .title{
        font-size: 30px;
        padding:0;
    }

    .title-content{
        font-size: 11px;
        margin: 0;
        margin-right: 70px;
        margin-left: 70px;
        padding:0;
        padding-top: 10px;
        padding-bottom: 25px;
        letter-spacing: 0;
    }

    .page-title{
        font-size: 25px;
        margin-top: 25px;
        padding: 0;
        padding-top: 35px;
        padding-bottom: 25px;
    }

    /*socmed*************************/
    .socmed{
        display: flex;
        justify-content: space-between;
        max-width: 280px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    /*facebook****************/
    .fb{
        width: 36px;
    }

    .facebook a{
        padding: 22px;
        border-radius: 20px;
    }

    .facebook a:visited{
        padding: 22px;
        border-radius: 20px;
    }

    .facebook a:hover{
        padding: 22px;
        border-radius: 20px;
    }

    /*Instagram****************/
    .ig{
        width: 36px;
    }

    .instagram a{
        padding: 22px;
        border-radius: 20px;
    }

    .instagram a:visited{
        padding: 22px;
        border-radius: 20px;
    }

    .instagram a:hover{
        padding: 22px;
        border-radius: 20px;
    }

    /*email****************/
    .gmail{
        width: 36px;
    }

    .email a{
        padding: 22px;
        border-radius: 20px;
    }

    .email a:visited{
        padding: 22px;
        border-radius: 20px;
    }

    .email a:hover{
        padding: 22px;
        border-radius: 20px;
    }

    /*form*******************************/
    .form{
        max-width: 280px;
        margin-bottom: 45px;
    }

    .form-text{
        padding-bottom: 30px;
    }

    .form-text-title{
        font-size: 18px;
        padding-bottom: 10px;
    }

    .form-text-content{
        font-size: 12px;
    }

    .form-answer{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 280px;
    }

    input[type=text] {
        padding: 12px;
        margin-right: 0;
        margin-bottom: 10px;
        border-radius: 10px;

        width: 250px;
        font-size: 12px;
    }

    input[type=email] {
        padding: 12px;
        margin-right: 0;
        margin-bottom: 0;
        border-radius: 10px;

        width: 250px;
        font-size: 12px;
    }

    textarea{
        margin-bottom: 20px;
        font-size: 12px;
        padding: 12px;
        
        width: 250px;
        resize: vertical;
        height: 200px;
    }
    
    input[type=submit] {
        padding: 12px;
        
        font-size: 15px;
        width: 280px;
    }
    
    input[type=submit]:hover{
        padding: 15px;
        
        font-size: 15px;
        width: 280px;
        cursor: pointer;
    }

    /*footer****************************/
    .logo2{
        width: 180px;
    }

    .footer-navbar1{
        width: 280px;
    }

    .navbar1-item{
        font-size: 15px;
    }

    .footer-navbar2{
        margin: 0;
        width: 310px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        padding-bottom: 15px;
    }

    .navbar2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar2-item{
        padding:0;
        padding-top: 3px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        padding-left: 13px;
        padding-right: 15px;
    }

    .navbar2-item a{
        font-size: 12px;
        padding: 0;
        padding-bottom: 10px;
    }

    .navbar2-item:nth-last-child(2) {
        border-right: none;
    }

    .navbar2-item:last-child{
        border-left: 2px solid #FFFF;
    }

    .hr{
        width: 80%;
        height: 1px;
    }

    .subfooter{
        padding: 0;
        font-size: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
